# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output directories
bin/
obj/

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore logs
*.log

# Ignore IDE-specific settings
.idea/
.vscode/

# Ignore other system files
.DS_Store
Thumbs.db
