
@inherits LayoutComponentBase
@* @rendermode InteractiveServer *@
@* <main>
        @Body
</main>


@inherits LayoutComponentBase *@

@*  <PageTitle>My Library App</PageTitle> *@
@* @if (sessionService.IsLoggedIn)
{
	<p>Welcome, <strong>@sessionService.UserEmail</strong></p>
}
else
{
	<p><em>Not logged in</em></p>
}  *@
<div class="page"> 
	<header>
		@* <div class="cart-info">
			<span>Cart Items: @cartCount</span>
		</div> *@
	</header>
	<div class="content">
		@Body
	</div>
</div>
