@page "/login"
@rendermode InteractiveServer


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h3 class="mt-2 mb-2">Login</h3>
        <EditForm Model="@model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="model.Email" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>

            <div class="mb-3">
                <label>Password</label>
                <InputText type="password" class="form-control" @bind-Value="model.Password" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>

            <button class="btn btn-primary">Login</button>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="text-danger mt-2">@errorMessage</div>
            }
        </EditForm>
    </div>
    <div class="col-4"></div>
</div>
@code {

}
