@page "/manager"
@rendermode InteractiveServer

<div class="dashboard">
    <div class="header">
    <h1>Validation Manager</h1>
</div>

<div class="dashboard_container"> 
    @* @if (IsAdmin == true) *@
    @* { *@
    @*     <button><NavLink href="/userlist"><img src="images/dashboard_tile_1.png"/></NavLink></button> *@
    @* } *@
    
    <button><img src="images/dashboard_tile_2.png"/></button>
    <button><img src="images/dashboard_tile_3.png"/></button>
    <button><img src="images/dashboard_tile_4.png"/></button>
    <button><img src="images/dashboard_tile_5.png"/></button>
    <button><img src="images/dashboard_tile_6.png"/></button>
</div>
</div>