@page "/clientaddtocard"
<!-- AdminDashboard.razor -->
<div class="dashboard-background">
	<!-- Your dashboard content here -->
<div class="page">
	<div class="top-row px-4 bg-dark text-white">
		<nav class="navbar navbar-expand">
			<UserMenu></UserMenu>
		</nav>
	</div>
	@* <div class="content">
		@Body
	</div> *@
</div>
</div>
<h3>AddToCart</h3>
@code {

}
