@page "/userregisteroNE"
@rendermode InteractiveServer
 
<h2 class="title">Enter the Registration Details</h2>

<div class="register-container">
    <EditForm Model="@registrationModel" OnValidSubmit="HandleRegister" FormName="RedBookForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Email Id :</label>
            <InputText @bind-Value="registrationModel.Email" />
        </div>

        <div class="form-group">
            <label>Password :</label>
            <InputText @bind-Value="registrationModel.Password" type="password" />
        </div>

        <div class="form-group">
            <label>First Name :</label>
            <InputText @bind-Value="registrationModel.FirstName" />
        </div>

        <div class="form-group">
            <label>Last Name :</label>
            <InputText @bind-Value="registrationModel.LastName" />
        </div>

        <div class="form-group">
            <label>Address:</label>
            <InputTextArea @bind-Value="registrationModel.Address"  style="width:200px"/>
        </div> 

        <div class="form-group">
            <label>Mobile No :</label>
            <InputText @bind-Value="registrationModel.Mobile" />
        </div>

        <div class="form-group">
            <InputCheckbox @bind-Value="registrationModel.AcceptTerms" />
            <span>&nbsp;&nbsp;I ACCEPT ALL TERMS & CONDITIONS</span>
        </div>

        <button type="submit">REGISTER ME</button>
        <p class="mt-2 text-center">
            <a href="/login">Back to Login</a>
        </p>
        @if (!string.IsNullOrWhiteSpace(message))
        {
            <div class="alert alert-success mt-3">@message</div>
        }
    </EditForm>

    @* <button type="button" @onclick="HandleRegister1">REGISTER ME</button> *@
    @if (!string.IsNullOrWhiteSpace(Message))
    {
        <p style="color: blue;">@Message</p>
    }
</div>
 
